In [36]:
import pandas as pd
data=pd.read_csv("samp.csv")
data

    x1   x2
0  5.9  3.2
1  4.6  2.9
2  6.2  2.8
3  4.7  3.2
4  5.5  4.2
5  5.0  3.0
6  4.9  3.1
7  6.7  3.1
8  5.1  3.8
9  6.0  3.0

In [37]:
data["x1"]

0    5.9
1    4.6
2    6.2
3    4.7
4    5.5
5    5.0
6    4.9
7    6.7
8    5.1
9    6.0
Name: x1, dtype: float64

In [60]:
import math 
cluster1=[]
cluster2=[]
cluster3=[]
cl1=[6.2,3.2]
cl2=[6.6,3.7]
cl3=[6.5,3.0]
def euc(a,b):
    d1=math.sqrt((cl1[0]-a)**2 + (cl1[1]-b)**2)
    d2=math.sqrt((cl2[0]-a)**2 + (cl2[1]-b)**2)
    d3=math.sqrt((cl3[0]-a)**2 + (cl3[1]-b)**2)
    md=min(d1,d2,d3)
    if(md==d1):
        cluster1.append([a,b])
    elif(md==d2):
        cluster2.append([a,b])
    else:
        cluster3.append([a,b])

In [61]:
for i in range(0,10):
    euc(data['x1'][i],data['x2'][i])
    
print("cluster1 : ",cluster1)
print("cluster2 : ",cluster2)
print("cluster3 : ",cluster3)

cluster1 :  [[5.9, 3.2], [4.6, 2.9], [4.7, 3.2], [5.0, 3.0], [4.9, 3.1], [5.1, 3.8], [6.0, 3.0]]
cluster2 :  [[5.5, 4.2]]
cluster3 :  [[6.2, 2.8], [6.7, 3.1]]