In [111]:
import pandas as pd
data=pd.read_csv("Student-University.csv")
data

           X1         X2  Y
0   34.623660  78.024693  0
1   30.286711  43.894998  0
2   35.847409  72.902198  0
3   60.182599  86.308552  1
4   79.032736  75.344376  1
..        ...        ... ..
95  83.489163  48.380286  1
96  42.261701  87.103851  1
97  99.315009  68.775409  1
98  55.340018  64.931938  1
99  74.775893  89.529813  1

[100 rows x 3 columns]

In [112]:
# Shuffle your dataset 
shuffle_data = data.sample(frac=1)

# Define a size for your train set 
train_size = int(0.7 * len(data))

# Split your dataset 
train_set = shuffle_data[:train_size]
test_set = shuffle_data[train_size:]

In [113]:
X1_train=train_set['X1'].values
X2_train=train_set['X2'].values
y_train=train_set['Y'].values

In [114]:
import numpy as n
b0=0.1
b1=0.2
b2=0.3
epochs=50000
alpha=0.01
i=0
pred=0

for i in range(epochs):
    for i in range(len(y_train)):
        y_hat=b0+(b1*X1_train[i])+(b2*X2_train[i])
        pred=1/(1+n.exp(-y_hat))
        b0=b0+alpha*(y_train[i]-pred)*pred*(1-pred)*1
        b1=b1+alpha*(y_train[i]-pred)*pred*(1-pred)*X1_train[i]
        b2=b2+alpha*(y_train[i]-pred)*pred*(1-pred)*X2_train[i]

In [115]:
b0,b1,b2

(0.09999703178523138, 0.1999019936030077, 0.29986812579451194)

In [116]:
X1_test=test_set['X1'].values
X2_test=test_set['X2'].values
y_test=test_set['Y'].values

y=[]
print(y_train)
for i in range(len(y_test)):
    y_hat=b0+(b1*X1_test[i])+(b2*X2_test[i])
    pred=1/(1+n.exp(-y_hat))
    pred=int(pred)
    y.append(pred)
print(y)

[1 1 1 1 0 1 0 1 0 0 1 1 1 1 0 1 1 1 0 1 0 1 1 1 0 0 1 0 0 0 1 1 1 0 0 0 1
 1 1 1 1 0 1 1 1 0 1 1 0 1 1 1 0 1 1 1 0 1 0 0 0 1 1 0 0 1 0 0 0 1]
[0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1]

In [117]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y))

0.7